<a href="https://colab.research.google.com/github/takashisuo/kaggle/blob/master/kaggle_data_science_bowl_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import os

In [2]:
from google.colab import drive
drive.mount(mountpoint="/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [6]:
os.listdir()
os.chdir("drive/My Drive/Colab Notebooks/kaggle/data-science-bowl-2019")
os.listdir()

['specs.csv',
 'sample_submission.csv',
 'test.csv',
 'train_labels.csv',
 'train.csv']

In [7]:
train_labels = pd.read_csv("train_labels.csv")
train_labels.head()

       game_session installation_id  ... accuracy  accuracy_group
0  6bdf9623adc94d89        0006a69f  ...      1.0               3
1  77b8ee947eb84b4e        0006a69f  ...      0.0               0
2  901acc108f55a5a1        0006a69f  ...      1.0               3
3  9501794defd84e4d        0006a69f  ...      0.5               2
4  a9ef3ecb3d1acc6a        0006a69f  ...      1.0               3

[5 rows x 7 columns]

In [8]:
train = pd.read_csv("train.csv")
train.head()

   event_id      game_session  ...      type      world
0  27253bdc  45bb1e1b6b50c07b  ...      Clip       NONE
1  27253bdc  17eeb7f223665f53  ...      Clip  MAGMAPEAK
2  77261ab5  0848ef14a8dc6892  ...  Activity  MAGMAPEAK
3  b2dba42b  0848ef14a8dc6892  ...  Activity  MAGMAPEAK
4  1bb5fbdb  0848ef14a8dc6892  ...  Activity  MAGMAPEAK

[5 rows x 11 columns]

In [9]:
test = pd.read_csv("test.csv")
test.head()

   event_id      game_session  ...  type         world
0  27253bdc  0ea9ecc81a565215  ...  Clip          NONE
1  27253bdc  c1ea43d8b8261d27  ...  Clip     MAGMAPEAK
2  27253bdc  7ed86c6b72e725e2  ...  Clip     MAGMAPEAK
3  27253bdc  7e516ace50e7fe67  ...  Clip  CRYSTALCAVES
4  7d093bf9  a022c3f60ba547e7  ...  Game  CRYSTALCAVES

[5 rows x 11 columns]

In [10]:
specs = pd.read_csv("specs.csv")
specs.head()

   event_id  ...                                               args
0  2b9272f4  ...  [{"name":"game_time","type":"int","info":"mill...
1  df4fe8b6  ...  [{"name":"game_time","type":"int","info":"mill...
2  3babcb9b  ...  [{"name":"game_time","type":"int","info":"mill...
3  7f0836bf  ...  [{"name":"game_time","type":"int","info":"mill...
4  ab3136ba  ...  [{"name":"game_time","type":"int","info":"mill...

[5 rows x 3 columns]

In [11]:
sample_submit = pd.read_csv("sample_submission.csv")
sample_submit.head()

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3

In [0]:
# sample submit
sample_submission_for_test = sample_submit.copy()
sample_submission_for_test['accuracy_group'] = 3
sample_submission_for_test.to_csv('submission.csv', index=False)

In [25]:
sample = pd.read_csv("submission.csv")
sample.head()

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3

In [0]:
from google.colab import files
files.download('submission.csv') # uploadに変更すれば良さそう？

In [23]:
os.listdir()

['specs.csv',
 'sample_submission.csv',
 'test.csv',
 'train_labels.csv',
 'train.csv',
 'submission.csv']